/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
body {
  color: #1e1e24;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(190deg, #f9957c, #1e1e24);
  height: 100%;
  letter-spacing: 0.08em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
/* Color Palette */
/* Dimensions */
.horizontalWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
  background: #1e1e24;
}
::-webkit-scrollbar-thumb {
  background: #f9f7f5;
}
.section {
  display: flex;
  height: 93.8vh;
  width: 100vh;
  flex: 0 0 100vw;
  padding: 40px;
}
.header {
  flex: 0 0 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  line-height: 1.4;
  color: #ded3c7;
}
.header__wrapper {
  background: rgba(30, 30, 36, 0.8);
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(30, 30, 36, 0.8);
}
.header__heading {
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
}
.header__subheading {
  margin: 0;
  font-size: 3rem;
}
.navbar {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1e1e24;
  color: #c4af9a;
  min-height: 80px;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 896px;
  margin: 0 auto;
}
.navbar__brand {
  font-size: 1.6rem;
  color: inherit;
  text-decoration: none;
}
.navbar__brand:hover {
  color: #f9f7f5;
}
.navbar__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: inherit;
}
.navbar__link:hover {
  color: #f9f7f5;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.card {
  flex: 0 0 270px;
  height: 200px;
  margin: 20px 10px;
  box-shadow: 0 4px 10px #1e1e24;
  background: #c4af9a;
}
.card__header {
  height: 30%;
  background: #1e1e24;
  padding: 20px 15px 20px;
}
.card__heading {
  text-align: center;
  font-size: 1.2rem;
  color: #c4af9a;
  margin: 0;
}
.card__body {
  height: 70%;
  margin: 0;
  padding: 15px;
}
.about-me {
  display: flex;
  align-items: center;
}
.about-me strong {
  font-weight: 600;
}
.about-me__media {
  display: flex;
  justify-content: space-around;
}
.about-me__img {
  border-radius: 10px;
  box-shadow: 0 4px 20px #1e1e24;
}
.about-me__content {
  flex: 1 1 auto;
  margin-left: 40px;
  color: #c4af9a;
  height: 640px;
  background: rgba(30, 30, 36, 0.8);
  box-shadow: 0 4px 20px #1e1e24;
  border-radius: 10px;
  padding: 40px;
}
