.horizontalWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 94vh;
}

::-webkit-scrollbar {
  display: none;
  background: @raisin-black;
}

::-webkit-scrollbar-thumb {
  background: @light;
}

.content {
  display: flex;
  padding: 40px;

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}