#horizontalWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 93.8vh;

  @media only screen and (max-width: 600px) {
    height: 91vh;
  }
}

::-webkit-scrollbar {
  display: none;
  background: @raisin-black-trans;
}

::-webkit-scrollbar-thumb {
  background: @khaki;
  border-radius: 10px;
}

.content {
  display: flex;
  padding: 40px;

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}