.horizontalWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
  background: @raisin-black;
}

::-webkit-scrollbar-thumb {
  background: @light;
}

.section {
  display: flex;
  height: 93.8vh;
  width: 100vh;
  flex: 0 0 100vw;
  padding: 40px;
}