.about-me {
  display: flex;
  align-items: center;

  strong {
    font-weight: 600;
  }

  &__media {
    display: flex;
    justify-content: space-around;
  }

  &__img {
    border-radius: 10px;
    box-shadow: 0 4px 20px @raisin-black;
  }

  &__content {
    flex: 1 1 auto;
    margin-left: 40px;
    color: @khaki;
    height: 640px;
    background: @raisin-black-trans;
    box-shadow: 0 4px 20px @raisin-black;
    border-radius: 10px;
    padding: 40px;

  }


}