.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: auto;
  background: @salmon-raisin-gradient;
  // background: @dark-salmon;
  line-height: 1.4;
  color: @khaki-light;

  &__heading {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
  }

  &__subheading {
    margin: 0;
    font-size: 3rem;
  }
}
