.header {
  flex: 0 0 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  line-height: 1.4;
  color: @khaki-light;

  &__wrapper {
    background: @raisin-black-trans;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px @raisin-black-trans;
  }

  &__heading {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
  }

  &__subheading {
    margin: 0;
    font-size: 3rem;
  }
}