.navbar {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  background: @raisin-black;
  color: @khaki;
  min-height: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    .container();
  }

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
